<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="meiHu.dao.AddressMapper">

<!--public List<Address> selectAddressById(int uid);-->
    <select id="selectAddressById" parameterType="int" resultType="Address">
        select * from shop_address where uid=#{_parameter}
    </select>
    <!--public int insertAddress(Address address);-->
    <insert id="insertAddress" parameterType="Address">
        insert into shop_address(uid,address,addressdetail,receivename,receivetel) values(#{user.uid},#{address},#{addressdetail},#{receivename},#{receivetel})
    </insert>
   <!-- public void deleteAddress(int addressid);
    <delete id="deleteAddress" parameterType="int">
        delete from shop_address where address=#{_parameter}
    </delete>-->
    <!-- //用户根据地址id删除用户地址
 public void deleteAddressByAddressid(int addressid);-->
    <delete id="deleteAddressByAddressid" parameterType="int">
        delete from shop_address where addressid=#{_parameter}
    </delete>
</mapper>