<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="meiHu.dao.ForumLikeMapper">
  <resultMap id="BaseResultMap" type="com.gem.meihu.entity.ForumLike">
    <id column="likeid" jdbcType="INTEGER" property="likeid" />
    <result column="post_cid" jdbcType="INTEGER" property="postCid" />
    <result column="user_uid" jdbcType="INTEGER" property="userUid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    likeid, post_cid, user_uid
  </sql>
  <select id="selectByExample" parameterType="com.gem.meihu.entity.ForumLikeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from forum_like
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from forum_like
    where likeid = #{likeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from forum_like
    where likeid = #{likeid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gem.meihu.entity.ForumLikeExample">
    delete from forum_like
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gem.meihu.entity.ForumLike">
    insert into forum_like (likeid, post_cid, user_uid
      )
    values (#{likeid,jdbcType=INTEGER}, #{postCid,jdbcType=INTEGER}, #{userUid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gem.meihu.entity.ForumLike">
    insert into forum_like
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="likeid != null">
        likeid,
      </if>
      <if test="postCid != null">
        post_cid,
      </if>
      <if test="userUid != null">
        user_uid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="likeid != null">
        #{likeid,jdbcType=INTEGER},
      </if>
      <if test="postCid != null">
        #{postCid,jdbcType=INTEGER},
      </if>
      <if test="userUid != null">
        #{userUid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gem.meihu.entity.ForumLikeExample" resultType="java.lang.Long">
    select count(*) from forum_like
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update forum_like
    <set>
      <if test="record.likeid != null">
        likeid = #{record.likeid,jdbcType=INTEGER},
      </if>
      <if test="record.postCid != null">
        post_cid = #{record.postCid,jdbcType=INTEGER},
      </if>
      <if test="record.userUid != null">
        user_uid = #{record.userUid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update forum_like
    set likeid = #{record.likeid,jdbcType=INTEGER},
      post_cid = #{record.postCid,jdbcType=INTEGER},
      user_uid = #{record.userUid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gem.meihu.entity.ForumLike">
    update forum_like
    <set>
      <if test="postCid != null">
        post_cid = #{postCid,jdbcType=INTEGER},
      </if>
      <if test="userUid != null">
        user_uid = #{userUid,jdbcType=INTEGER},
      </if>
    </set>
    where likeid = #{likeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gem.meihu.entity.ForumLike">
    update forum_like
    set post_cid = #{postCid,jdbcType=INTEGER},
      user_uid = #{userUid,jdbcType=INTEGER}
    where likeid = #{likeid,jdbcType=INTEGER}
  </update>
</mapper>