<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="meiHu.dao.ForumPostreportMapper">
    <!--public boolean addPostReport(ForumPostreport forumPostreport);-->
    <insert id="addPostReport" parameterType="ForumPostreport">
        INSERT  INTO forum_postreport (post_pid,user_uid,reportreason)
         VALUES (#{pid},#{uid},#{reportreason});
    </insert>
</mapper>