<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="meiHu.dao.ForumTopicMapper">
    <!--public List<ForumTopic> getAllTopics()-->
    <select id="getAllTopics" resultType="ForumTopic">
        SELECT * FROM forum_topic
    </select>

    <!--public ForumTopic selectTopicByTid(int tid) ;-->
    <select id="selectTopicByTid" parameterType="int">
        SELECT * FROM forum_topic WHERE tid=#{_parameter}
    </select>


    <!--public String selectTnameBuTid(int tid);-->
    <select id="selectTnameBuTid" resultType="String" parameterType="int">
        SELECT tname from forum_topic WHERE tid=#{parameter}
    </select>
</mapper>