<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="meiHu.dao.ForumPostMapper">
    <resultMap id="getForumPost" type="ForumPost">
        <id column="pid" property="pid"/>
        <result column="createtime" property="createtime"/>
        <result column="hot" property="hot"/>
        <result column="visitcount" property="visitcount"/>
        <result column="likecount" property="likecount"/>
        <result column="ptitle" property="ptitle"/>
        <result column="pcontent" property="pcontent"/>
        <association property="user" javaType="ForumUser">
            <id column="uid" property="uid"/>
            <result column="uname" property="uname"/>
            <result column="headpic" property="headpic"/>
        </association>
        <association property="topic" javaType="ForumTopic">
            <id column="tid" property="tid"/>
            <result column="tname" property="tname"/>
        </association>

    </resultMap>
    <!--public List<ForumPost> selectPostsByTid(int tid)-->

    <select id="selectPostsByTid" parameterType="int" resultMap="getForumPost">
        SELECT p.*,u.*,t.tname FROM forum_post p,forum_user u,forum_topic t
        WHERE  topic_tid=#{parameter} AND p.user_uid = u.uid AND t.tid = p.topic_tid ORDER  by createtime DESC
    </select>

    <!--public ForumPost selectPostByPid(int pid);-->
    <select id="selectPostByPid" parameterType="int" resultMap="getForumPost">
        SELECT p.*,u.*,t.* FROM forum_post p,forum_user u ,forum_topic t
        WHERE pid=#{parameter} AND p.user_uid = u.uid ORDER  by createtime DESC
    </select>


    <!--public List<ForumPost> selectAllPostsOrderByVisits() ;-->
    <select id="selectAllPostsOrderByVisits" parameterType="int" resultMap="getForumPost">
        SELECT p.*,u.uname,u.headpic,t.tid,t.tname FROM forum_post p,forum_user u,forum_topic t
        WHERE  topic_tid=#{parameter} AND p.user_uid = u.uid AND t.tid = p.topic_tid
        ORDER BY visitcount DESC
    </select>



    <!--public List<ForumPost> selectAllPostsOrderByCreatetime() ;-->
    <select id="selectAllPostsOrderByCreatetime" parameterType="int" resultMap="getForumPost">
        SELECT p.*,u.uname,u.headpic,t.tid,t.tname FROM forum_post p,forum_user u,forum_topic t
        WHERE  topic_tid=#{parameter} AND p.user_uid = u.uid AND t.tid = p.topic_tid
        ORDER  by createtime DESC
    </select>

    <!--public int updatePostLikeNum();-->
    <update id="updatePostLikeNumByPid" parameterType="int">
        UPDATE forum_post SET likecount = likecount+1 WHERE pid=#{_parameter}
    </update>

    <update id="updatePostLikeNumByPidSub" parameterType="int">
        UPDATE forum_post SET likecount = likecount-1 WHERE pid=#{_parameter}
    </update>
    <update id="updatePostVisitNum" parameterType="int">
        UPDATE forum_post SET visitcount = visitcount+1 WHERE pid=#{_parameter}
    </update>

    <update id="updatePostVisitNumSub" parameterType="int">
        UPDATE forum_post SET visitcount = visitcount-1 WHERE pid=#{_parameter}
    </update>

    <resultMap id="selectCollectedPostsByUidMap" type="ForumPost">

        <id column="pid" property="pid"/>
        <result column="createtime" property="createtime"/>
        <result column="hot" property="hot"/>
        <result column="visitcount" property="visitcount"/>
        <result column="likecount" property="likecount"/>
        <result column="ptitle" property="ptitle"/>
        <result column="pcontent" property="pcontent"/>
        <association property="user" javaType="ForumUser">
            <id column="uid" property="uid" />
            <result column="uname" property="uname" />
            <result column="password" property="password" />
            <result column="tel" property="tel" />
            <result column="email" property="email" />
            <result column="sex" property="sex" />
            <result column="point" property="point" />
            <result column="headpic" property="headpic" />
            <result column="registertime" property="registertime" />
        </association>
        <association property="topic" javaType="ForumTopic">
            <id column="tid" property="tid"/>
            <result column="tname" property="tname"/>
        </association>
    </resultMap>

    <!--public List<ForumPost> selectCollectedPostsByUid(int uid) ;-->
    <select id="selectCollectedPostsByUid" resultMap="selectCollectedPostsByUidMap" parameterType="int">
        SELECT u.*, p.*,t.* FROM forum_user u ,forum_post p ,forum_topic t,forum_collection c
        WHERE c.user_uid =#{_parameter} AND p.pid=c.post_pid and p.user_uid=u.uid AND t.tid=p.topic_tid
        ORDER  by createtime DESC
    </select>

    <!--public List<ForumPost> selectPostsByUid(int uid) ;-->
    <select id="selectPostsByUid" parameterType="int" resultMap="selectCollectedPostsByUidMap">
        SELECT p.*,t.*,u.* FROM forum_post p,forum_topic t,forum_user u WHERE p.user_uid=#{_parameter} AND p.topic_tid=t.tid AND p.user_uid=u.uid
        ORDER  by createtime DESC
    </select>

    <!--public boolean insert(ForumPost post) ;-->
    <insert id="insert" parameterType="ForumPost">
        INSERT INTO forum_post (user_uid,createtime,ptitle,pcontent,topic_tid) VALUES (#{user.uid},#{createtime},#{ptitle},#{pcontent},#{topic.tid})
    </insert>



    <!--public int SelectUidByPid(int pid);-->

    <select id="SelectUidByPid" resultType="int" parameterType="int">
        SELECT user_uid FROM forum_post WHERE pid = #{parameter}
    </select>


    <!--public List<ForumPost> selectPostsByPtitle(String keyword)-->
    <select id="selectPostsByPtitle" resultMap="getForumPost" parameterType="String">
        SELECT p.*,u.uname,t.tname FROM forum_post p,forum_user u,forum_topic t
        WHERE  p.ptitle like CONCAT('%',#{parameter},'%')   AND p.user_uid = u.uid AND t.tid = p.topic_tid
    </select>

    <!--public boolean update(ForumPost post) ;-->
    <update id="update" parameterType="ForumPost">
        UPDATE forum_post SET createtime=#{createtime},ptitle=#{ptitle} ,pcontent=#{pcontent} WHERE pid=#{pid}
    </update>

    <!--public boolean deletePostByPid(int pid) ;-->
    <delete id="deletePostByPid" parameterType="int">
        DELETE  FROM forum_post WHERE pid=#{_parameter}
    </delete>


    <!--public ForumPost selectKeywordHot(String keyword) ;-->
    <select id="selectKeywordHot" resultMap="getForumPost" parameterType="String">
    SELECT p.*,u.uname,t.tname FROM forum_post p,forum_user u,forum_topic t
    WHERE  p.ptitle like CONCAT('%',#{parameter},'%')   AND p.user_uid = u.uid AND t.tid = p.topic_tid
    ORDER BY visitcount DESC limit 0,1
    </select>
</mapper>
