<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="meiHu.dao.ForumUserMapper">
    <resultMap id="selectUserMap" type="ForumUser">
        <id column="uid" property="uid" />
        <result column="uname" property="uname" />
        <result column="password" property="password" />
        <result column="tel" property="tel" />
        <result column="email" property="email" />
        <result column="sex" property="sex" />
        <result column="point" property="point" />
        <result column="headpic" property="headpic" />
        <result column="registertime" property="registertime" />

        <association property="title" javaType="ForumTitle">
            <id column="titleid" property="titleid"/>
            <result column="title" property="title"/>
        </association>

    </resultMap>
    <!--public ForumUser selectUserByUid(int uid) ;-->
    <select id="selectUserByUid" resultMap="selectUserMap">
        SELECT u.*,t.* FROM forum_user u,forum_title t WHERE u.title_id = t.titleid and uid = #{_parameter}
    </select>

    <!--public ForumUser selectUsersByUname(String uname) ;-->
    <select id="selectUsersByUname" resultMap="selectUserMap" parameterType="String">
        SELECT u.*,t.* FROM forum_user u ,forum_title t WHERE u.uname=#{_parameter} and u.title_id=t.titleid
    </select>

    <!--public boolean insertUser(String uanme,String passwrod ,String tel,Date registertime) ;-->
    <insert id="insertUser">
        INSERT INTO forum_user (uname,password,tel,title_id,registertime) VALUES (#{uname},#{password},#{tel},1,#{registertime})
    </insert>

    <!--public ForumUser selectUserByTel(String tel);-->
    <select id="selectUserByTel" parameterType="String" resultMap="selectUserMap">
        SELECT u.*,t.* FROM forum_user u ,forum_title t WHERE u.title_id = t.titleid AND u.tel=#{_parameter}
    </select>

    <!--public List<ForumUser> selectFocusUsersByUid(int uid) ;-->

    <select id="selectFocusUsersByUid" parameterType="int" resultMap="selectUserMap">
        SELECT u.*,t.* FROM forum_user u , forum_title t ,forum_focus f
        WHERE f.user_uid=#{_parameter} AND f.focused_user_id=u.uid AND u.title_id=t.titleid
    </select>

    <!--public List<ForumUser> selectFollowerByUid(int uid) ;-->
    <select id="selectFollowerByUid" parameterType="int" resultMap="selectUserMap">
        SELECT u.*,t.* FROM forum_user u , forum_title t ,forum_focus f
        WHERE f.focused_user_id=#{_parameter} AND f.user_uid=u.uid AND u.title_id=t.titleid
    </select>

    <!--public boolean updateUser(ForumUser forumUser) ;-->
    <update id="updateUser" parameterType="ForumUser">
        UPDATE forum_user SET uname=#{uname} ,sex=#{sex} ,tel=#{tel} ,email=#{email} ,headpic=#{headpic} WHERE uid=#{uid}
    </update>

    <!--public boolean resetPass(ForumUser user);-->
    <update id="resetPass" parameterType="ForumUser">
        UPDATE forum_user SET password=#{password} WHERE uid=#{uid}
    </update>

    <!--public int selectPointByUid(int uid);-->
<select id="selectPointByUid" parameterType="int" resultType="int">
    SELECT point from forum_user WHERE uid=#{parameter}
</select>

    <!--//显示titleid>3的用户-->
    <!--public List<ForumUser> selectUsersByTitleId();-->
    <select id="selectUsersByTitleId"  resultMap="selectUserMap">
        SELECT u.*,t.* FROM forum_user u , forum_title t
        WHERE  title_id>3 AND u.title_id=t.titleid
    </select>

    <!--//查询用户获赞数-->
    <!--public int selectLikeNumByUid(int uid);-->
    <select id="selectLikeNumByUid"  resultType="int" parameterType="int">
          SELECT COUNT(*) FROM forum_like WHERE post_pid IN
(select pid FROM forum_post WHERE user_uid = #{parameter})
    </select>
    <!--//查询用户收藏数-->
    <!--public int selectCollectionNumByUid(int uid);-->
    <select id="selectCollectionNumByUid"  resultType="int" parameterType="int">
        SELECT count(*) from forum_collection WHERE user_uid=#{parameter}
    </select>
</mapper>