<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="meiHu.dao.ForumOfficalarticleMapper">
    <!--public List<ForumOfficalarticle> getAllOfficalArticles();-->
    <select id="getAllOfficalArticles" resultType="ForumOfficalarticle">
        select * from forum_officalarticle
    </select>

    <!--public ForumOfficalarticle selectOfficalArticleByOaid(int oaid);-->
    <select id="selectOfficalArticleByOaid" resultType="ForumOfficalarticle" parameterType="int">
        SELECT * FROM forum_officalarticle WHERE oaid=#{parameter}
    </select>

    <!--public boolean insertArticle(ForumOfficalarticle forumOfficalarticle) ;-->
    <insert id="insertArticle" parameterType="ForumOfficalarticle">
        INSERT INTO forum_officalarticle (oatitle,oaprecontent,oacontent) VALUES (#{oatitle},#{oaprecontent},#{oacontent})
    </insert>

    <!--public boolean deleteArticle(int oaid);-->
    <delete id="deleteArticle" parameterType="int">
        DELETE FROM forum_officalarticle WHERE oaid=#{_parameter}
    </delete>
</mapper>