<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="meiHu.dao.ForumCommentMapper">
    <resultMap id="postforummapper" type="ForumComment">
        <id column="cid" property="cid"/>
        <result column="post_pid" property="pid"/>
        <result column="commenttime" property="commenttime"/>
        <result column="commenttext" property="commenttext"/>
        <association property="user" javaType="ForumUser">
            <id column="uid" property="uid"/>
            <result column="uname" property="uname"/>
            <result column="headpic" property="headpic"/>
            <association property="title" javaType="ForumTitle">
                <id column="titleid" property="titleid"/>
                <result column="title" property="title"/>
            </association>
        </association>
    </resultMap>

    <resultMap id="commentforcomment" type="ForumComment">
        <id column="cid" property="cid"/>
        <result column="post_pid" property="pid"/>
        <result column="commenttime" property="commenttime"/>
        <result column="commenttext" property="commenttext"/>
        <!--<result column="commentid" property="ccid"/>-->
        <association property="user" javaType="ForumUser">
            <id column="uid" property="uid"/>
            <result column="uname" property="uname"/>
        </association>
        <association property="forumComment" javaType="ForumComment">
            <id column="cid" property="cid"/>
            <result column="post_pid" property="pid"/>
            <result column="commenttime" property="commenttime"/>
            <result column="commenttext" property="commenttext"/>
        </association>
    </resultMap>

    <!--public ForumComment selectCommentByUid(int uid) ;-->

    <!--public ForumComment selectCommentBypid(int pid) ;-->


    <!--public int addForumComment(ForumComment forumComment);-->
    <insert id="addForumComment" parameterType="ForumComment">
        INSERT INTO forum_comment (user_uid,post_pid,commenttext) VALUES (#{uid},#{pid},#{commenttext})
    </insert>

    <!--public int selectPostCommentNum(int pid);-->
    <select id="selectPostCommentNum" resultType="int" parameterType="int">
        SELECT COUNT(*) FROM forum_comment WHERE post_pid=#{parameter} AND commentid is null
    </select>


    <!--public List<ForumComment> selectAllPostCommentByPid(int pid);-->
    <select id="selectAllPostCommentByPid" resultMap="postforummapper" parameterType="int">
        SELECT c.*,u.*,t.title FROM  forum_comment c,forum_user u, forum_title t
         WHERE c.user_uid = u.uid AND u.title_id = t.titleid AND post_pid=#{parameter}
         AND commentid is null
    </select>


    <!--public int addCommentForComment(ForumComment forumComment);-->
    <insert id="addCommentForComment" parameterType="ForumComment">
        INSERT INTO forum_comment (user_uid,post_pid,commenttext,commentid) VALUES (#{uid},#{pid},#{commenttext},#{ccid})
    </insert>


    <!--public List<ForumComment> selectAllCommentForComment(int ccid);-->
    <select id="selectAllCommentForComment" resultMap="commentforcomment" parameterType="int">
       SELECT c.*,u.uname FROM  forum_comment c ,forum_user u
           WHERE c.user_uid = u.uid and  c.commentid=#{parameter}
    </select>

    <!--public int[] selectAllCidByPid(int pid);-->
    <select id="selectAllCidByPid" resultType="int" parameterType="int">
        SELECT cid FROM  forum_comment WHERE post_pid=#{parameter} AND commentid is null
    </select>


    <!--public int selectCommentCommentNum(int cid);-->
    <select id="selectCommentCommentNum" resultType="int" parameterType="int">
        select count(*) from forum_comment WHERE commentid=#{parameter};
    </select>

    <!--public boolean deleteCommentByPid(int pid);-->
    <delete id="deleteCommentByPid" parameterType="int">
        DELETE FROM forum_comment WHERE post_pid=#{_parameter}
    </delete>
</mapper>