<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="meiHu.dao.ForumPostreportMapper">
  <resultMap id="BaseResultMap" type="com.gem.meihu.entity.ForumPostreport">
    <id column="reportid" jdbcType="INTEGER" property="reportid" />
    <result column="post_pid" jdbcType="INTEGER" property="postPid" />
    <result column="user_uid" jdbcType="INTEGER" property="userUid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.gem.meihu.entity.ForumPostreport">
    <result column="reportreason" jdbcType="LONGVARCHAR" property="reportreason" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    reportid, post_pid, user_uid
  </sql>
  <sql id="Blob_Column_List">
    reportreason
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.gem.meihu.entity.ForumPostreportExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from forum_postreport
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.gem.meihu.entity.ForumPostreportExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from forum_postreport
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from forum_postreport
    where reportid = #{reportid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from forum_postreport
    where reportid = #{reportid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gem.meihu.entity.ForumPostreportExample">
    delete from forum_postreport
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gem.meihu.entity.ForumPostreport">
    insert into forum_postreport (reportid, post_pid, user_uid, 
      reportreason)
    values (#{reportid,jdbcType=INTEGER}, #{postPid,jdbcType=INTEGER}, #{userUid,jdbcType=INTEGER}, 
      #{reportreason,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gem.meihu.entity.ForumPostreport">
    insert into forum_postreport
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        reportid,
      </if>
      <if test="postPid != null">
        post_pid,
      </if>
      <if test="userUid != null">
        user_uid,
      </if>
      <if test="reportreason != null">
        reportreason,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        #{reportid,jdbcType=INTEGER},
      </if>
      <if test="postPid != null">
        #{postPid,jdbcType=INTEGER},
      </if>
      <if test="userUid != null">
        #{userUid,jdbcType=INTEGER},
      </if>
      <if test="reportreason != null">
        #{reportreason,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gem.meihu.entity.ForumPostreportExample" resultType="java.lang.Long">
    select count(*) from forum_postreport
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update forum_postreport
    <set>
      <if test="record.reportid != null">
        reportid = #{record.reportid,jdbcType=INTEGER},
      </if>
      <if test="record.postPid != null">
        post_pid = #{record.postPid,jdbcType=INTEGER},
      </if>
      <if test="record.userUid != null">
        user_uid = #{record.userUid,jdbcType=INTEGER},
      </if>
      <if test="record.reportreason != null">
        reportreason = #{record.reportreason,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update forum_postreport
    set reportid = #{record.reportid,jdbcType=INTEGER},
      post_pid = #{record.postPid,jdbcType=INTEGER},
      user_uid = #{record.userUid,jdbcType=INTEGER},
      reportreason = #{record.reportreason,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update forum_postreport
    set reportid = #{record.reportid,jdbcType=INTEGER},
      post_pid = #{record.postPid,jdbcType=INTEGER},
      user_uid = #{record.userUid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gem.meihu.entity.ForumPostreport">
    update forum_postreport
    <set>
      <if test="postPid != null">
        post_pid = #{postPid,jdbcType=INTEGER},
      </if>
      <if test="userUid != null">
        user_uid = #{userUid,jdbcType=INTEGER},
      </if>
      <if test="reportreason != null">
        reportreason = #{reportreason,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where reportid = #{reportid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.gem.meihu.entity.ForumPostreport">
    update forum_postreport
    set post_pid = #{postPid,jdbcType=INTEGER},
      user_uid = #{userUid,jdbcType=INTEGER},
      reportreason = #{reportreason,jdbcType=LONGVARCHAR}
    where reportid = #{reportid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gem.meihu.entity.ForumPostreport">
    update forum_postreport
    set post_pid = #{postPid,jdbcType=INTEGER},
      user_uid = #{userUid,jdbcType=INTEGER}
    where reportid = #{reportid,jdbcType=INTEGER}
  </update>
</mapper>