<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="meiHu.dao.GoodsMapper">

    <resultMap id="getGoodsMap" type="Goods">
        <id column="goodid" property="goodid"/>
        <result column="goodname" property="goodname"/>
        <result column="goodpic" property="goodpic"/>
        <result column="goodprice" property="goodprice"/>
        <result column="goodstore" property="goodstore"/>
        <result column="goodaddress" property="goodaddress"/>
        <result column="gooddetail" property="gooddetail"/>
        <result column="goodsales" property="goodsales"/>
        <association property="category" javaType="GoodsCategory">
            <result column="categoryname" property="categoryname"/>
        </association>
    </resultMap>
    <!--public List<Goods> getGoods(int categoryid);-->
    <select id="getGoods" parameterType="int" resultMap="getGoodsMap">
        select g.*,c.categoryname from shop_goods g,shop_category c where g.categoryid=#{_parameter} and c.categoryid=#{_parameter}
    </select>

   <!--public Goods getGood(int id);-->
    <select id="getGood" parameterType="int" resultType="Goods">
        select * from shop_goods where goodid=#{_paramter}
    </select>

</mapper>