<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="meiHu.dao.OrderMapper">

    <resultMap id="orderMap" type="Order">
        <id column="orderid" property="orderid"/>
        <result column="ordertime" property="ordertime"/>
        <result column="total" property="total"/>
        <result column="state" property="state"/>
        <result column="addressdetail" property="addressdetail"/>
        <result column="receivename" property="receivename"/>
        <result column="receivetel" property="receivetel"/>
        <collection property="items" ofType="OrderItem">
            <id column="itemid" property="itemid"/>
            <result column="num" property="count"/>
            <result column="subtotal" property="subtotal"/>
            <association property="good" javaType="Goods">
                <id column="goodid" property="goodid"/>
                <result column="goodname" property="goodname"/>
                <result column="goodpic" property="goodpic"/>
                <result column="goodprice" property="goodprice"/>
                <result column="goodstore" property="goodstore"/>
                <result column="goodaddress" property="goodaddress"/>
                <result column="gooddetail" property="gooddetail"/>
                <result column="goodsales" property="goodsales"/>
            </association>
        </collection>
    </resultMap>

    <resultMap id="noPayOrderMap" type="Order">
        <id column="orderid" property="orderid"/>
        <result column="ordertime" property="ordertime"/>
        <result column="total" property="total"/>
        <result column="state" property="state"/>
        <result column="addressdetail" property="addressdetail"/>
        <result column="receivename" property="receivename"/>
        <result column="receivetel" property="receivetel"/>
        <collection property="items" ofType="OrderItem">
            <id column="itemid" property="itemid"/>
            <result column="num" property="count"/>
            <result column="subtotal" property="subtotal"/>
            <association property="good" javaType="Goods">
                <id column="goodid" property="goodid"/>
                <result column="goodname" property="goodname"/>
                <result column="goodpic" property="goodpic"/>
                <result column="goodprice" property="goodprice"/>
                <result column="goodstore" property="goodstore"/>
                <result column="goodaddress" property="goodaddress"/>
                <result column="gooddetail" property="gooddetail"/>
                <result column="goodsales" property="goodsales"/>
            </association>
        </collection>
    </resultMap>

    <resultMap id="waitOrderMap" type="Order">
        <id column="orderid" property="orderid"/>
        <result column="ordertime" property="ordertime"/>
        <result column="total" property="total"/>
        <result column="state" property="state"/>
        <result column="addressdetail" property="addressdetail"/>
        <result column="receivename" property="receivename"/>
        <result column="receivetel" property="receivetel"/>
        <collection property="items" ofType="OrderItem">
            <id column="itemid" property="itemid"/>
            <result column="num" property="count"/>
            <result column="subtotal" property="subtotal"/>
            <association property="good" javaType="Goods">
                <id column="goodid" property="goodid"/>
                <result column="goodname" property="goodname"/>
                <result column="goodpic" property="goodpic"/>
                <result column="goodprice" property="goodprice"/>
                <result column="goodstore" property="goodstore"/>
                <result column="goodaddress" property="goodaddress"/>
                <result column="gooddetail" property="gooddetail"/>
                <result column="goodsales" property="goodsales"/>
            </association>
        </collection>
    </resultMap>

    <resultMap id="RunOrderMap" type="Order">
        <id column="orderid" property="orderid"/>
        <result column="ordertime" property="ordertime"/>
        <result column="total" property="total"/>
        <result column="state" property="state"/>
        <result column="addressdetail" property="addressdetail"/>
        <result column="receivename" property="receivename"/>
        <result column="receivetel" property="receivetel"/>
        <collection property="items" ofType="OrderItem">
            <id column="itemid" property="itemid"/>
            <result column="num" property="count"/>
            <result column="subtotal" property="subtotal"/>
            <association property="good" javaType="Goods">
                <id column="goodid" property="goodid"/>
                <result column="goodname" property="goodname"/>
                <result column="goodpic" property="goodpic"/>
                <result column="goodprice" property="goodprice"/>
                <result column="goodstore" property="goodstore"/>
                <result column="goodaddress" property="goodaddress"/>
                <result column="gooddetail" property="gooddetail"/>
                <result column="goodsales" property="goodsales"/>
            </association>
        </collection>
    </resultMap>

    <resultMap id="doneOrderMap" type="Order">
        <id column="orderid" property="orderid"/>
        <result column="ordertime" property="ordertime"/>
        <result column="total" property="total"/>
        <result column="state" property="state"/>
        <result column="addressdetail" property="addressdetail"/>
        <result column="receivename" property="receivename"/>
        <result column="receivetel" property="receivetel"/>
        <collection property="items" ofType="OrderItem">
            <id column="itemid" property="itemid"/>
            <result column="num" property="count"/>
            <result column="subtotal" property="subtotal"/>
            <association property="good" javaType="Goods">
                <id column="goodid" property="goodid"/>
                <result column="goodname" property="goodname"/>
                <result column="goodpic" property="goodpic"/>
                <result column="goodprice" property="goodprice"/>
                <result column="goodstore" property="goodstore"/>
                <result column="goodaddress" property="goodaddress"/>
                <result column="gooddetail" property="gooddetail"/>
                <result column="goodsales" property="goodsales"/>
            </association>
        </collection>
    </resultMap>
    <resultMap id="OrderItemMap" type="OrderItem">
        <id column="itemid" property="itemid"/>
        <result column="num" property="count"/>
        <result column="subtotal" property="subtotal"/>
        <association property="good" javaType="Goods">
            <id column="goodid" property="goodid"/>
            <result column="goodname" property="goodname"/>
            <result column="goodpic" property="goodpic"/>
            <result column="goodprice" property="goodprice"/>
            <result column="goodstore" property="goodstore"/>
            <result column="goodaddress" property="goodaddress"/>
            <result column="gooddetail" property="gooddetail"/>
            <result column="goodsales" property="goodsales"/>
        </association>
    </resultMap>
    <!--//根据用户id查询我的订单信息-->
    <!--public List<Order> findMyOrders(int uid);-->
    <select id="findMyOrders" parameterType="int" resultMap="orderMap">
       select * from shop_order so,shop_item si,shop_goods sg
        where so.uid=#{_parameter}
          and so.orderid=si.orderid
          and si.goodid=sg.goodid
          order by so.ordertime desc
    </select>

    <!--//保存订单信息-->
    <!--public void save(Order order);-->
    <insert id="save" parameterType="Order" useGeneratedKeys="true"
            keyProperty="orderid">
        insert into shop_order values(#{orderid},#{user.uid},#{ordertime},2,#{total},#{state},null,null,null)
    </insert>

   <!-- public void saveItem(OrderItem oi);-->
    <insert id="saveItem" parameterType="OrderItem" >
        insert into shop_item values(#{itemid},#{order.orderid},#{good.goodid},#{count},#{subtotal})
    </insert>

    <!--public void deleteOrderItem(int orderid);-->
    <delete id="deleteOrderItem" parameterType="int">
        delete from shop_item where orderid=#{_parameter}
    </delete>

    <!--public void deleteOrder(int orderid);-->
    <delete id="deleteOrder" parameterType="int">
        delete from shop_order where orderid=#{_parameter}
    </delete>

    <!--//用户查询待付款的订单
    public List<Order> noPayOrder(int uid);-->
    <select id="noPayOrder" parameterType="int" resultMap="noPayOrderMap">
        select *  from shop_order so,shop_item si,shop_goods sg
        where so.uid=#{_parameter}
        and so.orderid=si.orderid
        and si.goodid=sg.goodid
        and state=0
    </select>


   <!-- //用户查询待发货的订单
    public List<Order> waitOrder(int uid);-->
    <select id="waitOrder" parameterType="int" resultMap="waitOrderMap">
        select *  from shop_order so,shop_item si,shop_goods sg
        where so.uid=#{_parameter}
        and so.orderid=si.orderid
        and si.goodid=sg.goodid
        and state=1
    </select>


   <!-- //用户查询已发货的订单
    public List<Order> getRunOrder(int uid);-->
    <select id="getRunOrder" parameterType="int" resultMap="RunOrderMap">
           select *  from shop_order so,shop_item si,shop_goods sg
          where so.uid=#{_parameter}
          and so.orderid=si.orderid
          and si.goodid=sg.goodid
          and state=2
    </select>

    <!--//用户查询已收货的订单
    public List<Order> getDoneOrder(int uid);-->
    <select id="getDoneOrder" parameterType="int" resultMap="doneOrderMap">
        select *  from shop_order so,shop_item si,shop_goods sg
        where so.uid=#{_parameter}
        and so.orderid=si.orderid
        and si.goodid=sg.goodid
        and state=3
    </select>

    <!--//根据订单编号查询订单信息
    public Order showOrderById(int orderid);-->
    <select id="showOrderById" parameterType="int" resultType="Order">
        select * from shop_order where orderid=#{_parameter}
    </select>

    <!--//根据订单详情编号查询订单详情信息
    public OrderItem showOrderItemById(int itemid);-->
    <select id="showOrderItemById" parameterType="int" resultMap="OrderItemMap">
        select * from shop_item,shop_goods where itemid=#{_parameter} and shop_item.goodid=shop_goods.goodid
    </select>

</mapper>